
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tuedy -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4811412181501817"
     data-ad-slot="4558420684"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>      


<div id="content" class="main-content-inner col-sm-12 col-md-8 pull-left">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-web-design tag-photography tag-stock-photos tag-web-design-2" ng-repeat="posts in post">
        <h1><a href="#/post/{{ posts._id }}">{{ posts.title }}</a></h1>
        <p>{{ posts.exerpt }}</p>
        <a href="#/post/{{ posts._id }}">Read more &rarr;</a>
      </article>     

    
    </main><!-- #main -->
  </div><!-- #primary -->

</div>
